{% extends 'app.base.html.twig' %}

{% block title %}Nouvelle table{% endblock %}

{% block container %}
    <h1>Ici on créé des tables</h1>
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}